.coverContaienr {
  position: relative;
  text-align: center;
}

.stableCover {
  height: calc(100vh - 113px);
  width: 100%;
  object-fit: cover;
}

.stableName {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 1rem;
  font-size: 5rem;
  width: max-content;
  color: antiquewhite;
  background-color: #74574266;
  border-radius: 10px;
}

.socialIcons {
  position: absolute;
  top: 87%;
  left: 2%;
  display: flex;
  gap: 20px; /* Adjust spacing between icons */
}

.socialIcon {
  position: relative;
  background-color: #ffffff70;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.socialIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 2230px) {
  .stableName {
    font-size: 4.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 1080px) {
  .stableName {
    font-size: 4rem;
    padding: 0.5rem;
  }
}

@media (max-width: 950px) {
  .stableName {
    font-size: 3rem;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .stableCover {
    height: auto;
    width: 100%;
  }
  .socialIcons {
    top: 295px;
    gap: 5px;
  }
  .stableName {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .stableCover {
    height: auto;
    width: 100%;
  }

  .stableName {
    font-size: 1rem;
    top: 100px;
  }
  .socialIcons {
    top: 295px;
    gap: 5px;
  }
  .socialIcon {
    width: 30px;
  }
}

@media (max-width: 480px) {
  .socialIcons {
    top: 315px;
    gap: 5px;
  }
}

@media (max-width: 420px) {
  .socialIcons {
    top: 245px;
    gap: 5px;
  }
}
