.logoImg {
    border-radius: 50%;
}

.sliderContainer {
    height: 100vh;
    background-image: url('/shalva1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: antiquewhite;

}

.sliderContainer h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.sliderContainer p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.sliderContainer button {
    background-color: antiquewhite;
    color: black;
    opacity: 0.5;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.sliderContainer button:hover {
    opacity: 1;
}

.welcomeLetterContainer {
    margin: 3rem 4rem;
    color: #ad8f77;
    text-align: center;
    line-height: 1.3em;
    padding: 2rem;
    border-radius: 2.5rem;
}

.welcomeLetterContainer h1 {

    font-size: 3rem;
    margin: 20px;
}

.welcomeLetterContainer p {
    margin-top: 30px;
    font-size: 1.7rem;
    line-height: 2rem;
}