.toursContainer {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  height: 400px;
  width: 80px;
  border: 1px solid #ddd;
  padding: 8px;
}

.thumbnail {
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.activeThumbnail {
  border-color: #0073e6;
  transform: scale(1.1); /* Slight zoom effect when active */
}

.mainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  width: 80%;
}

.mainImage {
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .toursContainer {
    width: auto;
  }
  .sidebar {
    width: 40px;
    height: auto;
  }
}
