.address h1 {
  text-align: center;
  font-size: 5rem;
  color: #776246;
  margin: 1.9rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contactInfo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 500px;
  margin: 1.5rem 0;
  color: #776246;
}

.contactInfo p {
  margin-left: 1.5rem;
}

.addressContainer {
  width: 50%;
}

.map {
  width: 100%;
}

@media (max-width: 768px) {
  .address h1 {
    font-size: 4rem;
  }

  .contactInfo {
    font-size: 1.8rem;
    width: 400px;
  }
}

@media (max-width: 480px) {
  .address h1 {
    font-size: 2rem;
    margin: 1rem;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contactInfo {
    width: 300px;
    justify-content: flex-start;
    font-size: 1.5rem;
    text-align: center;
  }

  .contactInfo p {
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .addressContainer {
    width: 80%;
    text-align: center;
  }

  .map {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .address h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .contactInfo {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .address h1 {
    font-size: 1.7rem;
    margin: 1rem;
  }

  .contactInfo {
    font-size: 1rem;
  }
}
